.product-detail-container {
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ff44ba; 
  margin: 20px auto;
  max-width: 600px;
}

.product-detail-container h1 {
  color: #ff44ba; 
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail-container img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px #ff44ba; 
  margin-bottom: 10px;
}

.product-detail-container p {
  color: #333333; 
  margin-bottom: 8px;
}

.product-detail-container .description {
  margin-top: 15px;
}
